body {
  font-family: "Sono", sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-family: sans-serif;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 5rem;
  text-decoration: underline rgba(255, 128, 0, 0.8);
}
.pricing-container {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.pricing-plan {
  flex-basis: 20%;
  background-color: #eee;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.pricing-plan:hover {
  transition: all 0.3s ease 0s;
  background-color: #ddddddf0;
}
.plan-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.plan-price {
  font-size: 2rem;
  font-weight: bold;
}
.plan-features {
  padding: 0;
}

.plan-features li {
  list-style: none;
  margin-bottom: 20px;
}
.plan-button {
  background-color: rgba(255, 128, 0, 1);
  border: none;
  color: white;
  padding: 9px 20px;
  border-radius: 50px;
  cursor: pointer;
}
.plan-button:hover {
  background-color: rgba(255, 128, 0, 0.8);
}
/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1250px) {
  .title {
    font-family: sans-serif;
    text-align: center;
    font-size: 4rem;
    margin: 3rem 0;
  }
  .pricing-container {
    flex-direction: column;
    height: 100%;
    margin-bottom: 50px;
    width: 90%;
  }
  .pricing-plan {
    min-width: 300px;
  }
}
